* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.2rem;
    font-family: monospace, monospace;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;

    height: 500px;
    width: 250px;
}